section 
    h1 
        b Immutability
    h2 and Pure Functions
    h5 by 
        a(href="http://twitter.com/joaolucasluc") @joaolucasluc

section
    h1 What is Mutable?
    .fragment
        h4 Mutability 
            i (ˈmjuː.tə.bəl)
        p The quality of being mutable, or subject to change or alteration, either in form, state, or essential character; susceptibility of change; 
        footer: i Webster's Revised Unabridged Dictionary

section
    h1 What is 
        b Immutable?
    .fragment
        h4 Immutability 
            i (ɪˈmjuː.tə.bəl)
        p The state or quality of being immutable; immutableness. 
        footer: i Webster's Revised Unabridged Dictionary

section(data-background-image="img/yo-hammer.gif")
    section(data-background-color="rgba(0, 0, 0, 0.57)")
        h2 Refactoring this definition:
        h2
            b You can't touch this.