
section(data-background-image="img/trump.gif")
    section(data-background-color="rgba(0, 0, 0, 0.5)")
    h1 What now?

section
  h2 Great resources
  h3 i've been learning from
  a(href="https://auth0.com/blog/intro-to-immutable-js/") Introduction to Immutable.js and Functional Programming Concepts
  a(href="https://www.youtube.com/watch?v=mS264h8KGwk") Immutability, interactivity & JavaScript (Talk)
  a(href="https://medium.com/javascript-scene/the-dao-of-immutability-9f91a70c88cd#.rmrjyz3eb") The Dao of Immutability
  a(href="https://www.youtube.com/watch?v=pi4PZi34hLk") Immutable JavaScript (Talk)
  a(href="http://cidrdb.org/cidr2015/Papers/CIDR15_Paper16.pdf") Immutability Changes Everything (Paper, by Pat Helland)
  br  
  h4 Thanks for watching!
