doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/1-definitions
				include ../slides/2-samples
				include ../slides/3-pure-functions
				include ../slides/4-final
		include inc/scripts
